<script th:fragment="js" th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        console.log("DOCUMENT WILL BE READY TO OPERATE NOW")

        // TODOLIST 전체 조회
        ajax_show_tdlist();

        // 이벤트 핸들러 초기화
        init_events();

    })

    //init_events() START
    function init_events() {
        console.log("init_events() CALLED!!")

        // 리스트의 no값을 받아오는 전역 변수 선언
        let className;

        // 시작일, 종료일 현재일 기준으로 변경 START
        $('#start_date').val(new Date().toISOString().substring(0, 10)); // 날짜만 추출 (YYYY-MM-DD)
        $('#end_date').val(new Date().toISOString().substring(0, 10));

        $('#start_date_modify').val(new Date().toISOString().substring(0, 10));
        $('#end_date_modify').val(new Date().toISOString().substring(0, 10));
        // 시작일, 종료일 현재일 기준으로 변경 END

        // 생성 버튼 클릭 이벤트 START
        $(document).on("click", "#todo_container input[value='Create List']", function (e) {
            console.log("#todo_container input[value='Create List'] CLICK HANDLER!!");

            let content = $("#content").val();
            let tag = $("#tag").val();
            let start_date = $("#start_date").val();
            let end_date = $("#end_date").val();

            console.log("content: " + content);
            console.log("tag: " + tag);
            console.log("start_date: " + start_date);
            console.log("end_date: " + end_date);

            if (start_date > end_date) {
                alert("시작일이 마감일보다 늦게 설정하셨습니다.");

                $("#content").val('');
                $("#tag").val('');
                $('#start_date').val(new Date().toISOString().substring(0, 10)); // 날짜만 추출 (YYYY-MM-DD)
                $('#end_date').val(new Date().toISOString().substring(0, 10));

            } else {
                ajax_create_tdlist_confirm(content, tag, start_date, end_date);

            }

        });
        // 생성 버튼 클릭 이벤트 END

        // 수정(is_finish 클릭) 클릭 이벤트 START
        $(document).on("click", "#todo_list table tbody tr td input.is_finish", function (e) {
            console.log("#todo_list table tbody tr td a.is_finish MODIFY CLICK HANDLER!!");

            className = $(this).data("no");
            console.log("className : " + className);

            ajax_modify_isfinish_confirm(className);

        });
        // 수정(is_finish 클릭) 클릭 이벤트 END

        // 수정(content 클릭) 클릭 이벤트 START
        $(document).on("click", "#todo_list table tbody tr td a.modify", function (e) {
            console.log("#todo_list table tbody tr td a content MODIFY CLICK HANDLER!!");

            className = $(this).data("no");
            console.log("className : " + className);
            let isYes = confirm("수정하시겠습니까??");

            if (isYes) {
                modallToggle();

            }

        });

        $(document).on("click", '#defaultModal button[value="modify"]', function (e) {
            console.log("#defaultModal button[value='modify'] MODIFY CLICK HANDLER!!");

            let content = $('form[name="create_tdlist_form"] input[name="content"]').val();
            let tag = $('form[name="create_tdlist_form"] input[name="tag"]').val();
            let start_date = $('form[name="create_tdlist_form"] input[name="start_date"]').val();
            let end_date = $('form[name="create_tdlist_form"] input[name="end_date"]').val();

            if (start_date <= end_date) {
                console.log("className : " + className);
                console.log("content : " + content);
                console.log("tag : " + tag);
                console.log("start_date : " + start_date);
                console.log("end_date : " + end_date);

                ajax_modify_tdlist_confirm(className, content, tag, start_date, end_date);

            } else {
                alert("시작일이 마감일보다 더 늦게 설정하셨습니다.");

                $('#content_modify').val('');
                $('#tag_modify').val('');
                $('#start_date_modify').val(new Date().toISOString().substring(0, 10));
                $('#end_date_modify').val(new Date().toISOString().substring(0, 10));

            }

        });

        // 수정(content 클릭) 클릭 이벤트 END

        // 수정 Modal 초기화(RESET) 버튼 클릭 START
        $(document).on('click', '#defaultModal button[type="RESET"]', function (e) {
            console.log('reset BUTTON CLICK HANDLER!!');

            $("#content_modify").val('');
            $("#tag_modify").val('');
            $('#start_date_modify').val(new Date().toISOString().substring(0, 10));
            $('#end_date_modify').val(new Date().toISOString().substring(0, 10));

        });

        // 수정 Modal 초기화(RESET) 버튼 클릭 END

        // 수정 Modal CANCEL 버튼 클릭 START
        $(document).on('click', '#defaultModal button[value="cancel"]', function (e) {
            console.log('cancel BUTTON CLICK HANDLER!!');

            modallToggle();

        });

        // 수정 Modal CANCEL 버튼 클릭 END

        // 수정 Modal xbutton(우측상단 X 그림) 버튼 클릭 START
        $(document).on('click', '#defaultModal button[value="xbutton"]', function (e) {
            console.log('cancel BUTTON CLICK HANDLER!!');

            modallToggle();

        });

        // 수정 Modal xbutton(우측상단 X 그림) 버튼 클릭 END

        // 삭제 버튼 클릭 이벤트 START
        $(document).on("click", "#todo_list table tbody input[value='DELETE']", function (e) {
            console.log("#todo_list table tbody input[value='DELETE'] CLICK HANDLER!!");
            let className = $(this).data("no")

            let isYes = confirm("정말로 삭제하시겠습니까??");

            if (isYes) {
                ajax_delete_tdlist_confirm(className);

            }

        });
        // 삭제 버튼 클릭 이벤트 END

        // 검색 버튼 클릭 이벤트 START
        $(document).on("click", '#search_word input[value="search"]', function (e) {
            console.log('#search_word input[value="search"] CLICK HANDER!!');

            let search_word = $('#search_word input.search_bar').val();
            console.log("search_word : " + search_word);

            ajax_search_tags(search_word);

        })

        // 검색 버튼 클릭 이벤트 END

        // 종료된 TODOLIST 조회 START
        $(document).on("click", '#finish_btn input[value="finish_btn"]', function (e) {
            console.log('#finish_btn input[value="finish_btn"] CLICK HANDER!!');

            ajax_tdlist_finish_btn();

        })

        // 종료된 TODOLIST 조회 END

        // 뒤로가기 btn START
        $(document).on("click", '#finish_btn input[value="back"]', function (e) {
            console.log('#finish_btn input[value="back"] CLICK HANDER!!');

            ajax_show_tdlist();

        })

        // 뒤로가기 btn 조회 END

    }

    //init_events() END

    // 리스트 전체 삭제 START
    function remove_list() {
        console.log("remove_list CALLED!!");

        $("#todo_list tbody").children().remove();

    }

    // 리스트 전체 삭제 END

    // Modal창 visiable & hide START
    function modallToggle() {
        console.log('modallToggle CALLED!!');
        const modal = document.querySelector('#defaultModal');

        modal.classList.toggle('hidden');

    }

    // Modal창 visiable & hide END


    // 마감일 & 체크(활성화) css 변경 START
    function checkedNEndDate() {
        // 오늘 날짜 함수
        function getCurrentDate() {
            const today = new Date();
            return today.toISOString().substring(0, 10); // 날짜만 추출 (YYYY-MM-DD)
        }

        // 각 행을 확인하며 CSS 변경
        $("#todo_list table tbody tr").each(function () {
            const isFinish = $(this).find("td input.is_finish").prop("checked");
            const endDate = $(this).find("td:nth-child(5)").text(); // 5번째 열의 텍스트 (마감일)

            // 마감일이 오늘 날짜 보다 이전이거나 check가 되어 있는 튜플을 회색 처리하며 선 긋기
            if (isFinish || endDate < getCurrentDate()) {
                $(this).addClass("gray-row"); // 회색으로 표시

                // 글자를 회색으로 변경하고 가운데에 선 추가
                $(this).find("td").css({
                    "color": "#888",                    // 글자 색상을 회색(#888)으로 설정
                    "text-decoration": "line-through",  // 가운데 선 추가
                    "text-decoration-color": "#888"     // 선의 색상을 회색(#888)으로 설정
                });

            }

        })
    }

    // 마감일 & 체크(활성화) css 변경 END


    //AJAX START
    function ajax_create_tdlist_confirm(content, tag, start_date, end_date) {
        console.log("ajax_create_tdlist_form CALLED!!")

        let formData = new FormData();
        formData.append("content", content);
        formData.append("tag", tag);
        formData.append("start_date", start_date);
        formData.append("end_date", end_date);

        $.ajax({
            url: '/user/tdlist/create_tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_create_tdlist_confirm()');

                if (date > 0) {
                    alert("리스트가 생성되었습니다.");

                    remove_list();
                    ajax_show_tdlist();
                    $("#content").val('');
                    $("#tag").val('');

                } else if (date == 0) {
                    alert("리스트를 생성하는데 실패하였습니다.");

                    $("#content").val('');
                    $("#tag").val('');

                } else {
                    alert("★ ERROR AT DB!! 관리자에게 문의해주시기 바랍니다.");

                    $("#content").val('');
                    $("#tag").val('');

                }

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_create_tdlist_confirm()');
                alert("리스트 생성에 실패하였습니다.");

            }

        });

    }

    function ajax_show_tdlist() {

        $.ajax({
            url: '/user/tdlist/tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            // data:formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_show_tdlist()');

                remove_list();

                let userTdListDtos = data.userTdListDtos;
                console.log(userTdListDtos);

                for (let i = 0; i < userTdListDtos.length; i++) {
                    let appendTag = "<tr>";
                    appendTag += "<td><input type='checkbox' class='is_finish' data-no='" + userTdListDtos[i].no + "'";
                    if (userTdListDtos[i].is_finish === 1) {
                        appendTag += " checked"; // is_finish가 1이면 checked 속성을 추가하여 체크된 상태로 만듭니다.
                    }
                    appendTag += ">" + "</a></td>";
                    appendTag += "<td><a href='#none' class='modify' data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' >" + userTdListDtos[i].content + "</a></td>";
                    appendTag += "<td>" + userTdListDtos[i].tag + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].start_date + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].end_date + "</td>";
                    appendTag += "<td><input data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' type='button' value='DELETE'></td>";
                    appendTag += "</tr>";

                    $("#todo_list tbody").append(appendTag);

                }

                checkedNEndDate();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_show_tdlist()');

            }

        });

    }

    function ajax_modify_tdlist_confirm(className, content, tag, start_date, end_date) {

        let formData = new FormData();
        formData.append("no", className);
        formData.append("content", content);
        formData.append("tag", tag);
        formData.append("start_date", start_date);
        formData.append("end_date", end_date);

        $.ajax({
            url: '/user/tdlist/modify_tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_modify_tdlist_confirm()');
                alert("정보가 수정되었습니다.");

                remove_list();
                ajax_show_tdlist();
                modallToggle();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_modify_tdlist_confirm()');
                alert("정보가 수정되지 못하였습니다.");

            }

        });

    }

    function ajax_modify_isfinish_confirm(className) {

        let formData = new FormData();
        formData.append("className", className);

        $.ajax({
            url: '/user/tdlist/modify_isfinish_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_modify_isfinish_confirm()');

                remove_list();
                ajax_show_tdlist();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_modify_isfinish_confirm()');
                alert("정보가 수정되지 못하였습니다.");

            }

        });

    }

    function ajax_delete_tdlist_confirm(className) {

        let formData = new FormData();
        formData.append("className", className);

        $.ajax({
            url: '/user/tdlist/delete_tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_delete_tdlist_confirm()');
                alert("삭제되었습니다.");

                remove_list();
                ajax_show_tdlist();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_delete_tdlist_confirm()');
                alert("삭제하지 못하였습니다");

            }
        });

    }

    function ajax_search_tags(search_word) {
        let formData = new FormData();
        formData.append("search_word", search_word);

        $.ajax({
            url: '/user/tdlist/search_tag_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_search_tags()');

                remove_list();

                let userTdListDtos = data.userTdListDtos;
                console.log(userTdListDtos);

                for (let i = 0; i < userTdListDtos.length; i++) {
                    let appendTag = "<tr>";
                    appendTag += "<td><input type='checkbox' class='is_finish' data-no='" + userTdListDtos[i].no + "'";
                    if (userTdListDtos[i].is_finish === 1) {
                        appendTag += " checked"; // is_finish가 1이면 checked 속성을 추가하여 체크된 상태로 만듭니다.
                    }
                    appendTag += ">" + "</a></td>";
                    appendTag += "<td><a href='#none' class='modify' data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' >" + userTdListDtos[i].content + "</a></td>";
                    appendTag += "<td>" + userTdListDtos[i].tag + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].start_date + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].end_date + "</td>";
                    appendTag += "<td><input data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' type='button' value='DELETE'></td>";
                    appendTag += "</tr>";

                    $("#todo_list tbody").append(appendTag);

                }

                $('#search_word .search_bar').val('');
                checkedNEndDate();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_search_tags()');
                alert("정보를 불러오지 못하였습니다");

            }
        });

    }

    function ajax_tdlist_finish_btn() {

        $.ajax({
            url: '/user/tdlist/search_finish_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            // data:formData,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_tdlist_finish_btn()');

                // 앞선 리스트 삭제 후 추가적으로 내용 입력.
                remove_list();

                let userTdListDtos = data.userTdListDtos;
                console.log(userTdListDtos);

                for (let i = 0; i < userTdListDtos.length; i++) {
                    let appendTag = "<tr>";
                    appendTag += "<td><input type='checkbox' class='is_finish' data-no='" + userTdListDtos[i].no + "'";
                    if (userTdListDtos[i].is_finish === 1) {
                        appendTag += " checked"; // is_finish가 1이면 checked 속성을 추가하여 체크된 상태로 만듭니다.
                    }
                    appendTag += ">" + "</a></td>";
                    appendTag += "<td><a href='#none' class='modify' data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' >" + userTdListDtos[i].content + "</a></td>";
                    appendTag += "<td>" + userTdListDtos[i].tag + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].start_date + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].end_date + "</td>";
                    appendTag += "<td><input data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' type='button' value='DELETE'></td>";
                    appendTag += "</tr>";

                    $("#todo_list tbody").append(appendTag);

                }

                checkedNEndDate();

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_tdlist_finish_btn()');

            }

        });

    }

    //AJAX END
</script>