<script th:fragment="js" th:inline="javascript" type="text/javascript">

    $(document).ready(function() {
        console.log("DOCUMENT WILL BE READY TO OPERATE NOW")

        init_events();
        ajax_show_tdlist();

    })

    //init_events() START
    function init_events() {
        console.log("init_events() CALLED!!")

        // 시작일, 종료일 현재일 기준으로 변경 START
        $('#end_date').val(new Date().toISOString().substring(0,10));
        $('#start_date').val(new Date().toISOString().substring(0,10));
        // 시작일, 종료일 현재일 기준으로 변경 END


        // 생성 버튼 클릭 이벤트 START
        $(document).on("click" , "#todo_container input[value='Create List']", function(e) {
            console.log("#todo_container input[value='Create List'] CLICK HANDLER!!");
            ajax_create_tdlist_form();

        });
        // 생성 버튼 클릭 이벤트 END

        // 수정(content 클릭) 클릭 이벤트 START

        // 수정(content 클릭) 클릭 이벤트 END

        // 삭제 버튼 클릭 이벤트 START
        $(document).on("click" , "#todo_list table tbody input[value='DELETE']", function(e) {
            console.log("#todo_list table tbody input[value='DELETE'] CLICK HANDLER!!");
            let className = $(this).data("no")

            let isYes = confirm("정말로 삭제하시겠습니까??");

            if(isYes) {
                ajax_delete_tdlist_form(className);

            }

        });
        // 삭제 버튼 클릭 이벤트 END

    }
    //init_events() START

    //AJAX START
    function ajax_create_tdlist_form() {
        console.log("ajax_create_tdlist_form CALLED!!")

        let content = $("#content").val();
        let tag = $("#tag").val();
        let start_date = $("#start_date").val();
        let end_date = $("#end_date").val();

        console.log("content: " + content);
        console.log("tag: " + tag);
        console.log("start_date: " + start_date);
        console.log("end_date: " + end_date);

        let formData = new FormData();
        formData.append("content", content);
        formData.append("tag", tag);
        formData.append("start_date", start_date);
        formData.append("end_date", end_date);

        $.ajax({
            url: '/user/tdlist/create_tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data:formData,
            success: function(data) {
                console.log('AJAX SUCCESS - ajax_create_tdlist_form()');
                alert("리스트가 생성되었습니다.");

                remove_list();
                ajax_show_tdlist();

            },
            error: function(data) {
                console.log('AJAX ERROR - ajax_create_tdlist_form()');
                alert("리스트 생성에 실패하였습니다.");

            }

        });

    }

    function remove_list() {
        console.log("remove_list CALLED!!");

        $("#todo_list tbody").children().remove();

    }

    function ajax_show_tdlist() {

        $.ajax({
            url: '/user/tdlist/tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            // data:formData,
            success: function(data) {
                console.log('AJAX SUCCESS - ajax_show_tdlist()');

                let userTdListDtos = data.userTdListDtos;
                console.log(userTdListDtos);

                for (let i = 0; i < userTdListDtos.length; i++) {
                    let appendTag = "<tr>";
                    appendTag += "<td data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "'>" + "<a href='#none'>" + userTdListDtos[i].is_finish + "</a>" + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].content + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].tag + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].start_date + "</td>";
                    appendTag += "<td>" + userTdListDtos[i].end_date + "</td>";
                    //appendTag += "<td><input class='delete_btn_" + userTdListDtos[i].no + "' type='button' value='DELETE'></td>";
                    appendTag += "<td><input data-no='";
                    appendTag += userTdListDtos[i].no;
                    appendTag += "' type='button' value='DELETE'></td>";
                    appendTag += "</tr>";

                    $("#todo_list tbody").append(appendTag);
                }

                $("#content").val('');
                $("#tag").val('');


            },
            error: function(data) {
                console.log('AJAX ERROR - ajax_show_tdlist()');

            }
        });

    }

    function ajax_delete_tdlist_form(className) {

        let formData = new FormData();
        formData.append("className" , className);

        $.ajax({
            url: '/user/tdlist/delete_tdlist_confirm',
            type: 'POST',
            processData: false,
            contentType: false,
            data:formData,
            success: function(data) {
                console.log('AJAX SUCCESS - ajax_show_tdlist()');
                alert("삭제되었습니다.");

                remove_list();
                ajax_show_tdlist();

            },
            error: function(data) {
                console.log('AJAX ERROR - ajax_show_tdlist()');
                alert("삭제하지 못하였습니다");

            }
        });

    }

    function ajax_tdlist_done() {



    }


//AJAX START
</script>