<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script crossOrigin="anonymous"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body class="flex flex-col items-center justify-center w-5/6 mx-auto">
<header th:replace="~{/include/header_nav_footer::header}"></header>
<!--  section & footer  -->
<div class="flex flex-col items-center justify-center w-5/6 mx-auto">
    <section class="flex flex-row w-5/6 border-solid mt-7">
        <div class="relative flex items-center justify-center w-screen h-screen mr-8 border-2 rounded-lg bg-slate-100">
            <div class="absolute top-0 left-0 mt-6 ml-14 w-full">
                <div>
                    <h2 class="text-2xl font-bold mb-10">ASSIGNMENT LIST</h2>
                    <div class="flex flex-col w-11/12 bg-white h-5/6">
                        <div class="flex w-full border-b-2 h-1/4 border-b-slate-300"
                             th:each="item, iterStat : ${userAssignmentDtos}">
                            <div class="w-11/12 p-4">
                                <a th:href="@{/user/assignment/get_assignment(no=${item.no})}" th:text="${item.title}"
                                   type="button"></a>
                                <div class="flex">
                                    <span class="ml-2 font-thin text-slate-400 text-xs">마감일 <span
                                            th:text="${item.end_date}"></span></span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center pt-4 pr-4 mb-5">
                                    <span th:if="${results[iterStat.index] == 0}">
                                        <p class="text-red-600">미제출</p>
                                    </span>
                                <span class="text-green-500" th:if="${results[iterStat.index] == 1}">
                                        <p class="text-blue-600">제출완료</p>
                                        <div class="flex">
                                            <svg class="text-green-500 w-4 h-4" fill="none" stroke="currentColor"
                                                 stroke-width="2" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 13l4 4L19 7" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                            <p class="ml-2 font-thin text-slate-400" th:text="${item.mod_date}"></p>
                                        </div>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</div>
</body>
</html>
