<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:replace="~{/include/common_js.html::jquery_cdn}"></script>
    <script th:replace="~{/user/curriculum/user_curriculum_form_js.html::js}"></script>


</head>
<body>
<header th:replace="~{/include/header_nav_footer::header}"></header>
<div class="flex">
    <!-- nav -->
    <div>
        <nav th:replace="~{/include/header_nav_footer::nav}"></nav>
    </div>
    <!--  section & footer  -->
    <div class="flex flex-col items-center justify-center w-5/6 mx-auto">
        <h2 class="relative   top-0 left-0 mt-4 text-2xl font-bold ml-14">
            USER CURRICULUM PAGE</h2>
        <section class="flex flex-row w-5/6 border-solid mt-7">
            <!-- ⬅️ -->
            <div
                    class="absolute relative items-center justify-center w-screen h-screen mr-8 border-2 rounded-lg bg-slate-100"
            >
                <div id="search_info" class="buttons mt-6 text-right">
                    <input type="text" id="searchInput" class="mr-2 px-2 py-1 border rounded-md"
                           placeholder="검색어를 입력하세요">
                    <a class="search_curriculum_button inline-block ml-2 px-4 py-2 border border-green-500 rounded-md bg-green-500 text-white hover:bg-red-600"
                       href="#none">커리큘럼
                        검색</a>
                    <a class="back_button inline-block ml-2 px-4 py-2 border border-green-500 rounded-md bg-green-500 text-white hover:bg-red-600"
                       href="#none">뒤로가기
                    </a>

                </div>
                <br/>
                <div id="curriculum_container">


                </div>

            </div>


        </section>

        <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>
