<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.admin.member.IAdminDaoMB">

    <select id="isAdminMember" parameterType="String" resultType="Boolean">
        SELECT COUNT(*)
        FROM ADMIN
        WHERE id = #{id}
    </select>

    <insert id="insertAdminAccount" parameterType="com.btc.snow.admin.member.AdminMemberDto">
        INSERT INTO ADMIN (is_approval, id, pw, name, mail, phone, position,
                           reg_date, mod_date)
        VALUES (#{is_approval}, #{id}, #{pw}, #{name}, #{mail}, #{phone}, #{position}, NOW(),
                NOW())
    </insert>

    <select id="selectAdminForLogin" parameterType="String" resultType="com.btc.snow.admin.member.AdminMemberDto">
        SELECT *
        FROM ADMIN
        WHERE id = #{id}
          AND is_approval > 0
    </select>

    <select id="selectAdmins" resultType="com.btc.snow.admin.member.AdminMemberDto">
        SELECT *
        FROM ADMIN
    </select>

    <select id="selectUsers" resultType="com.btc.snow.user.member.UserMemberDto">
        SELECT *
        FROM USER
    </select>

    <update id="updateAdminApproval" parameterType="Integer">
        UPDATE
            ADMIN
        SET is_approval = 1
        WHERE no = #{no}
    </update>

    <update id="updateAdminAccount" parameterType="com.btc.snow.admin.member.AdminMemberDto">
        UPDATE
            ADMIN
        SET pw   = #{pw},
            name = #{name},
            mail = #{mail},
            phone = #{phone}, position = #{position}, mod_date = NOW()
        WHERE no = #{no}
    </update>

    <select id="selectLoginedAdmin" parameterType="Integer" resultType="com.btc.snow.admin.member.AdminMemberDto">
        SELECT *
        FROM ADMIN
        WHERE no = #{no}
    </select>

    <select id="selectAdminForFindId" parameterType="Map"
            resultType="com.btc.snow.admin.member.AdminMemberDto">
        SELECT *
        FROM ADMIN
        WHERE name = #{name}
          AND mail = #{mail}
    </select>

    <select id="selectAdminForFindPassword" parameterType="Map"
            resultType="com.btc.snow.admin.member.AdminMemberDto">
        SELECT *
        FROM ADMIN
        WHERE id = #{id}
          AND name = #{name}
          AND mail = #{mail}
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE
            ADMIN
        SET pw       = #{newPassword},
            mod_date = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteAdmin" parameterType="Integer">
        DELETE
        FROM ADMIN
        WHERE no = #{no}
    </delete>
</mapper>








