<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.admin.assignment.IAdminAssignmentMB">

    <select id="selectAssignments" resultType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE admin_no > 0
        ORDER BY reg_date DESC
    </select>

    <insert id="insertAssignment" parameterType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        INSERT INTO ASSIGNMENT (admin_no, title, body, file_admin, file_admin_name, reg_date, mod_date)
        VALUES (#{admin_no}, #{title}, #{body}, #{file_admin}, #{file_admin_name}, NOW(), NOW())
    </insert>

    <select id="getGeneratedNo" resultType="int" parameterType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="updateAdminActive" parameterType="Integer">
        UPDATE
            ASSIGNMENT
        SET is_activation = 1,
            start_date    = NOW(),
            end_date      = DATE_ADD(NOW(), INTERVAL 7 DAY)
        WHERE no = #{no}
    </update>

    <update id="updateAdminInactive" parameterType="Integer">
        UPDATE
            ASSIGNMENT
        SET is_activation = 0,
            start_date    = null,
            end_date      = null
        WHERE no = #{no}
    </update>

    <select id="selectActivationNum" parameterType="Integer"
            resultType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE no = #{no}
    </select>

    <select id="selectAssignment" parameterType="Integer" resultType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE no = #{no}
    </select>

    <update id="updateAssignment" parameterType="Integer">
        UPDATE ASSIGNMENT
        SET
        <if test="file_admin  != null">
            file_admin = #{file_admin},
            file_admin_name = #{file_admin_name},
        </if>
        title = #{title},
        body = #{body},
        mod_date = NOW()
        WHERE
        no = #{no}

    </update>

    <delete id="deleteAssignment" parameterType="Integer">
        DELETE
        FROM ASSIGNMENT
        WHERE
            no = #{no}
    </delete>

    <select id="selectUsers" resultType="com.btc.snow.user.member.UserMemberDto">
        SELECT *
        FROM USER
    </select>

    <select id="selectSubmitUser" parameterType="Integer" resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE group_id = #{no}
    </select>

    <update id="updatePoint" parameterType="com.btc.snow.user.assignment.UserAssignmentDto">
        UPDATE ASSIGNMENT
        SET point = #{point}
        WHERE no = #{no}
    </update>

    <update id="updateAssignmentActivation">
        UPDATE
            ASSIGNMENT
        SET is_activation = #{is_activation},
            start_date    = null,
            end_date      = null
        WHERE no = #{no}
    </update>

</mapper>