<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.study.book.IUserBookMapper">

    <!--    <insert id="scheduledUpdateBook" parameterType="java.util.List">-->
    <!--        INSERT INTO BOOK (-->
    <!--        isbn, title, author, cover, publisher, description, reg_date, mod_date-->
    <!--        ) VALUES-->
    <!--        <foreach collection="list" item="item" separator=",">-->
    <!--            (-->
    <!--            #{item.isbn13}, #{item.title}, #{item.author}, #{item.cover}, #{item.publisher},-->
    <!--            #{item.description},now(),now()-->
    <!--            )-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <update id="scheduledUpdateBook" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE BOOK
            SET
            isbn = #{item.isbn13},
            title = #{item.title},
            author = #{item.author},
            cover = #{item.cover},
            publisher = #{item.publisher},
            description = #{item.description},
            mod_date = now()
            WHERE isbn = #{item.isbn13}
        </foreach>
    </update>


</mapper>