<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.meeting.study.IUserStudyMapper">

    <insert id="insertStudy" parameterType="com.btc.snow.user.meeting.study.UserStudyDto">
        insert into STUDY (book_no, title, body, total, img, start_date, end_date, reg_date, mod_date)
        VALUES (#{book_no}, #{title}, #{body}, #{total}, #{img}, #{start_date}, #{end_date}, NOW(), NOW())
    </insert>

</mapper>