<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.assignment.IUserAssignmentMB">

    <select id="selectAssignments" resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE is_activation = 1
        ORDER BY reg_date DESC
    </select>

    <select id="selectAssignmentListWithSameId" parameterType="Integer"
            resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE group_id = #{group_id}
          AND user_no = #{user_no}
    </select>

    <select id="getAllUsers" resultType="com.btc.snow.user.member.UserMemberDto">
        SELECT *
        FROM USER
    </select>

    <insert id="insertAssignment" parameterType="com.btc.snow.user.assignment.UserAssignmentDto">
        INSERT INTO ASSIGNMENT (user_no, group_id)
        VALUES (#{user_no}, #{group_id})
    </insert>

    <select id="selectIsSubmitNum" parameterType="map" resultType="java.lang.Boolean">
        SELECT is_submit
        FROM ASSIGNMENT
        WHERE group_id = #{group_id}
          AND user_no = #{user_no}
    </select>

    <select id="selectDetail" parameterType="Integer" resultType="com.btc.snow.admin.assignment.AdminAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE no = #{no}
    </select>

    <select id="selectAssignmentInfo" parameterType="Integer"
            resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE user_no = #{user_no}
          AND group_id = #{no}
    </select>

    <update id="submitAssignment" parameterType="com.btc.snow.user.assignment.UserAssignmentDto">
        UPDATE ASSIGNMENT
        SET file_user      = #{file_user},
            file_user_name = #{file_user_name},
            is_submit      = 1,
            reg_date       = NOW(),
            mod_date       = NOW()
        WHERE group_id = #{no}
          AND user_no = #{user_no}
    </update>

    <update id="updateAssignment" parameterType="com.btc.snow.user.assignment.UserAssignmentDto">
        UPDATE ASSIGNMENT
        SET file_user      = #{file_user},
            file_user_name = #{file_user_name},
            mod_date       = NOW()
        WHERE group_id = #{no}
          AND user_no = #{user_no}
    </update>

    <delete id="deleteAssignment" parameterType="Integer">
        DELETE
        FROM ASSIGNMENT
        WHERE
            no = #{no}
    </delete>

    <select id="selectMyAssignment" parameterType="Integer" resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE user_no = #{user_no}
    </select>

    <select id="selectAssignmentTitle" resultType="string">
        SELECT title
        FROM ASSIGNMENT
        WHERE no = #{no}
    </select>

</mapper>