<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.mypage.IMyapgeMapper">

    <resultMap id="studyPromiseDtos" type="com.btc.snow.include.StudyPromiseDto">
        <result property="no" column="no"/>
        <result property="status" column="status"/>
        <result property="member_id" column="member_id"/>
        <result property="user_id" column="user_id"/>
        <result property="study_no" column="study_no"/>
        <result property="reg_date" column="reg_date"/>
        <result property="mod_date" column="mod_date"/>
    </resultMap>

    <select id="selectSceduleByUser" parameterType="HashMap" resultMap="studyPromiseDtos">
        select *
        from STUDYPROMISE sp
                 inner join USER u ON sp.member_id = u.id
        where user_id = #{id}
        limit #{skip},#{amount}

    </select>

    <select id="selectSceduleByMember" parameterType="HashMap" resultMap="studyPromiseDtos">
        select *
        from STUDYPROMISE sp
                 inner join USER u ON sp.user_id = u.id
        where member_id = #{id}
        limit #{skip},#{amount}

    </select>

    <update id="updateStatus" parameterType="Integer">
        update STUDYPROMISE
        set status = '승낙'
        where no = #{no}

    </update>

    <select id="getTotalSudyPromiseDtos" parameterType="String" resultType="Integer">
        select count(*)
        from STUDYPROMISE
        where user_id = #{id}

    </select>

    <select id="getTotalSudyPromiseDtosByMember" parameterType="String" resultType="Integer">
        select count(*)
        from STUDYPROMISE
        where member_id = #{id}

    </select>


</mapper>