<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.assignment.IUserAssignmentMB">

    <select id="selectAssignments" resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE is_activation = 1
        ORDER BY reg_date DESC
    </select>

    <insert id="insertAssignment" parameterType="com.btc.snow.user.assignment.UserAssignmentDto">
        INSERT INTO ASSIGNMENT (user_no, file, file_name, group_id, is_submit, reg_date, mod_date)
        VALUES (#{user_no}, #{file}, #{file_name}, #{group_id}, 1, NOW(), NOW())
    </insert>

    <select id="selectAssignment" parameterType="Integer" resultType="com.btc.snow.user.assignment.UserAssignmentDto">
        SELECT *
        FROM ASSIGNMENT
        WHERE no = #{no}
    </select>

    <update id="updateAssignment" parameterType="Integer">
        UPDATE ASSIGNMENT
        SET file      = #{file},
            file_name = #{file_name},
            mod_date  = NOW()
        WHERE
            no = #{no}

    </update>

    <delete id="deleteAssignment" parameterType="Integer">
        DELETE
        FROM ASSIGNMENT
        WHERE
            no = #{no}
    </delete>

</mapper>