<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.snow.user.member.IUserMemberDaoMB">

    <select id="isUser"
            parameterType="String"
            resultType="Boolean">
        SELECT COUNT(*)
        FROM USER
        WHERE id = #{id}
    </select>

    <insert id="insertUserMember"
            parameterType="com.btc.snow.user.member.UserMemberDto">
        INSERT INTO USER(id,
                         pw,
                         name,
                         mail,
                         phone,
                         home_phone,
                         address,
                         gender,
                         birthdate,
                         age,
                         university,
                         department,
                         gradu_status,
                         img,
                         reg_date,
                         mod_date)
        VALUES (#{id},
                #{pw},
                #{name},
                #{mail},
                #{phone},
                #{home_phone},
                #{address},
                #{gender},
                #{birthdate},
                #{age},
                #{university},
                #{department},
                #{gradu_status},
                #{img},
                NOW(), NOW())
    </insert>

    <select id="selectUserForLogin"
            parameterType="com.btc.snow.user.member.UserMemberDto"
            resultType="com.btc.snow.user.member.UserMemberDto">

        SELECT *
        FROM USER
        WHERE id = #{id}

    </select>

    <update id="updateAccount" parameterType="com.btc.snow.user.member.UserMemberDto">

        UPDATE
            USER
        SET mail         = #{mail},
            phone        = #{phone},
            home_phone   = #{home_phone},
            address      = #{address},
            university   = #{university},
            department   = #{department},
            gradu_status = #{gradu_status},
            img          = #{img},
            mod_date     = NOW()
        WHERE no = #{no}
    </update>

    <select id="getLatestAccountInfo" parameterType="com.btc.snow.user.member.UserMemberDto"
            resultType="com.btc.snow.user.member.UserMemberDto">

        SELECT *
        FROM USER
        WHERE no = #{no}
    </select>

    <delete id="deleteUser"
            parameterType="Integer">

        DELETE
        FROM USER
        WHERE no = #{no}
    </delete>

    <update id="updateUserPW"
            parameterType="com.btc.snow.user.member.UserMemberDto">

        UPDATE
            USER
        SET pw = #{pw}
        WHERE id = #{id}
          AND name = #{name}

    </update>

</mapper>