<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossOrigin="anonymous"></script>
    <script th:src="@{/assignment/admin/js/admin_nav.js}" type="text/javascript"></script>
    <!--    <script th:src="@{/assignment/admin/js/init_events.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/member_login_form.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/find_password_form.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/create_account_form.js}" type="text/javascript"></script>-->
    <script th:replace="~{/include/subitList_js::listjs}" type="text/javascript"></script>
    <script th:replace="~{/include/modal_toggle_js::toggle}" type="text/javascript"></script>


</head>
<body>
<div class="flex">
    <!-- Modal   -->
    <div th:replace="~{/include/modal_attendence::attendence}"></div>
    <!-- nav -->
    <div>
        <nav th:replace="~{/include/admin_nav::nav}"></nav>
    </div>
    <!--  section & footer  -->
    <div class="flex flex-col items-center justify-center w-5/6 mx-auto">
        <section class="flex flex-col w-5/6 border-solid mt-7">
            <!-- ⬅️ -->
            <h2 class="mt-4 text-2xl font-bold ml-14">SUBMIT PAGE</h2>
            <div
                    class="relative flex items-center justify-center w-full h-full mr-8 border-2 rounded-lg bg-slate-100"
            >


                <div class="flex flex-col w-11/12 bg-white h-full" id="pageNumWrap">
                    <!--
                                        <div class="flex w-full border-b-2 h-1/4 border-b-slate-300" th:each=" submit :${adminSubmitDtos}"
                                             th:onclick="'modalToggle('+${submit.no}+')'">-->
                    <div class="flex  w-full border-b-2 h-1/4 border-b-slate-300"
                         th:each=" submit :${adminSubmitDtos}"
                    >
                        <div class="w-11/12 p-4">
                            <p class="font-semibold text-md " th:text="${submit.no + '.'}"></p>
                            <p class="font-bold text-lg" th:text="${submit.name}"></p>
                            <p class="font-semibold text-sm text-green-400" th:text="${submit.mail}"></p>

                            <!--                            <p class="font-thin truncate" th:text="${sumbit.content}"></p>-->
                            <p class="font-thin truncate mb-6" th:text="${submit.u_id}"></p>
                            <a th:href="@{/downloadFromAdmin(file=${submit.file})}"
                               class="px-4 py-2 bg-blue-50 text-gray-700 rounded hover:bg-blue-100"
                               th:download="${submit.file}"
                               th:text="${submit.file}">
                            </a>
                            <!--                            <p class="font-thin truncate" th:text="${submit.status}"></p>-->
                        </div>
                        <div class="flex flex-col items-center p-4 mb-5">
                            <p class="font-bold text-blue-400" th:text="${submit.reg_date}"></p>


                            <div class="flex justify-center satusSelect" th:data-no="${submit.no}">

                                <p th:if="${submit.status==0}"
                                   class="py-2 bg-blue-50 text-green-700 rounded hover:bg-blue-100 mr-4 cursor-pointer status0"
                                   th:onclick="'approveConfirm('+${submit.no}+')'"
                                >
                                    승낙</p>
                                <p th:if="${submit.status==0}"
                                   class="py-2 bg-blue-50 text-red-700 rounded hover:bg-red-100 cursor-pointer status0"
                                   th:onclick="'cancleConfirm('+${submit.no}+')'">취소</p>

                            </div>
                            <div class="flex hidden justify-center status1Select"
                                 th:data-no="${submit.no}">

                                <p class="status1">
                                    <svg class="text-green-500 w-4 h-4" fill="none" stroke="currentColor"
                                         stroke-width="2" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 13l4 4L19 7" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>

                                </p>

                            </div>

                            <div th:unless="${submit.status==0 || submit.status==2}" class="flex justify-center"
                                 th:data-no="${submit.no}">

                                <p class="status1">
                                    <svg class="text-green-500 w-4 h-4" fill="none" stroke="currentColor"
                                         stroke-width="2" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 13l4 4L19 7" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>

                                </p>

                            </div>

                            <div class="flex hidden justify-center status2Select"
                                 th:data-no="${submit.no}">

                                <p class="status2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </p>

                            </div>

                            <div th:unless="${submit.status==0 || submit.status==1}" class="flex justify-center"
                                 th:data-no="${submit.no}">

                                <p class="status2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>

                                </p>

                            </div>


                        </div>


                    </div>

                    <div class=" flex justify-center items-center" id="pageNumDiv">


                        <div class="totalPage">

                        </div>

                    </div>
                </div>
            </div>

            <!-- ➡️ -->


        </section>
        <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
    </div>
</div>
</body>
</html>
