<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>admin Attendence</title>-->
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
<!--</head>-->
<!--<body>-->
<!--<h1>-->
<!--    <span> [[${adminSubmitDtos.size()}]]</span>-->
<!--    <span>[[${pageMakerDto.startPage}]]</span>-->
<!--</h1>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossOrigin="anonymous"></script>
    <script th:src="@{/assignment/admin/js/admin_nav.js}" type="text/javascript"></script>
    <!--    <script th:src="@{/assignment/admin/js/init_events.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/member_login_form.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/find_password_form.js}" type="text/javascript"></script>-->
    <!--    <script th:src="@{/assignment/admin/js/create_account_form.js}" type="text/javascript"></script>-->
    <script th:replace="~{/include/subitList::listjs}" type="text/javascript">

    </script>
</head>
<body>
<div class="flex">
    <!-- nav -->
    <div>
        <nav th:replace="~{/include/admin_nav::nav}"></nav>
    </div>
    <!--  section & footer  -->
    <div class="flex flex-col items-center justify-center w-5/6 mx-auto">
        <section class="flex flex-row w-5/6 border-solid mt-7">
            <!-- ⬅️ -->
            <div
                    class="relative flex items-center justify-center w-screen h-screen mr-8 border-2 rounded-lg bg-slate-100"
            >
                <h2 class="absolute top-0 left-0 mt-4 text-2xl font-bold ml-14">SUBMIT PAGE</h2>
                <div class="flex flex-col w-11/12 bg-white h-5/6" id="pageNumWrap">

                    <div class="flex w-full border-b-2 h-1/4 border-b-slate-300" th:each=" submit :${adminSubmitDtos}">

                        <div class="w-11/12 p-4">
                            <p class="font-bold " th:text="${submit.no}"></p>
                            <!--                            <p class="font-thin truncate" th:text="${sumbit.content}"></p>-->
                            <p class="font-thin truncate" th:text="${submit.u_id}"></p>
                            <p class="font-thin truncate" th:text="${submit.file}"></p>
                            <p class="font-thin truncate" th:text="${submit.status}"></p>
                        </div>
                        <div class="flex flex-col items-center p-4 mb-5">
                            <p class="font-bold text-blue-400" th:text="${submit.reg_date}"></p>

                        </div>


                    </div>

                    <div class="flex" id="pageNumDiv">


                        <div class="totalPage">

                        </div>

                    </div>
                </div>
            </div>

            <!-- ➡️ -->


        </section>
        <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
    </div>
</div>
</body>
</html>
