<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/admin/js/find_password_form.js}" type="text/javascript"></script>
</head>
<body>
<div class="flex">
    <!-- nav -->
    <div>
        <nav th:replace="~{/include/admin_nav::nav}"></nav>
    </div>
    <!--  section & footer  -->
    <div class="flex flex-col items-center justify-center w-5/6 mx-auto">
        <section class="flex flex-row w-5/6 border-solid mt-7">
            <div
                    class="relative flex items-center justify-center w-screen h-screen mr-8 border-2 rounded-lg bg-slate-100"
            >
                <div>
                    <h3>FIND PASSWORD FORM</h3>
                    <p>(We will send you a new password)</p>
                </div>

                <div>
                    <form th:action="@{/admin/member/find_password_confirm}" method="post" name="find_password_form">
                        <br>
                        <input type="text" name="a_m_id" placeholder="INPUT ADMIN ID."><br>
                        <input type="text" name="a_m_name" placeholder="INPUT ADMIN NAME."><br>
                        <input type="email" name="a_m_mail" placeholder="INPUT ADMIN MAIL."><br>
                        <input type="button" value="FIND PASSWORD" onclick="findPassword();">
                        <input type="reset" value="RESET">
                    </form>
                </div>

                <div>
                    <a th:href="@{/admin/member/create_account_form}">create account</a>
                    <a th:href="@{/admin/member/member_login_form.html}">login</a>
                </div>
            </div>
        </section>
        <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
    </div>
</div>
</body>
</html>