<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script th:src="@{/admin/js/find_password_form.js}" type="text/javascript"></script>

</head>
<body>
<header th:replace="~{/include/header_nav_footer::header}"></header>
<section>

    <div id="find_password_form" style="display: none" class="flex flex-col items-center justify-center w-11/12 h-40 p-2 mt-6 border-2 rounded-sm">

        <div>
            <h3>FIND PASSWORD FORM</h3>
            <p>(We will send you a new password)</p>
        </div>

        <div>
            <form th:action="@{/admin/member/find_password_confirm}" method="post" name="find_password_form"><br>
                <input type="text" name="a_m_id" placeholder="INPUT ADMIN ID."><br>
                <input type="text" name="a_m_name" placeholder="INPUT ADMIN NAME."><br>
                <input type="email" name="a_m_mail" placeholder="INPUT ADMIN MAIL."><br>
                <input type="button" value="FIND PASSWORD" onclick="findPassword();">
                <input type="reset" value="RESET">
            </form>
        </div>

        <div>
            <a th:href="@{/admin/member/create_account_form}">create account</a>
            <a th:href="@{/admin/member/member_login_form.html}">login</a>
        </div>

    </div>

</section>
<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>