<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/assignment/admin/js/find_password_form.js}" type="text/javascript"></script>
</head>
<body>
<div class="flex">
    <!-- nav -->
    <div>
        <nav th:replace="~{/include/admin_nav::nav}"></nav>
    </div>
    <!--  section & footer  -->
    <div class="flex flex-col items-center justify-center w-5/6 mx-auto">
        <section class="flex flex-row w-5/6 border-solid mt-7">
            <div class="relative flex items-center justify-center w-screen h-screen mr-8 border-2 rounded-lg bg-slate-100">
                <div class="w-full max-w-md p-4">
                    <h3 class="text-2xl font-semibold mb-2">비밀번호 찾기</h3>
                    <p class="text-gray-600">(메일로 새 비밀번호를 보내드릴게요!)</p>
                    <form class="mt-4" method="post" name="find_password_form" th:action="@{/admin/member/find_password_confirm}">
                        <div class="mb-4">
                            <input name="id" placeholder="아이디" type="text"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-300">
                        </div>
                        <div class="mb-4">
                            <input name="name" placeholder="이름" type="text"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-300">
                        </div>
                        <div class="mb-4">
                            <input name="mail" placeholder="메일 주소" type="email"
                                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-300">
                        </div>
                        <div class="mb-4">
                            <input onclick="findPassword();" type="button" value="비밀번호 찾기"
                                   class="w-full bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700 cursor-pointer">
                        </div>
                        <div>
                            <input type="reset" value="초기화"
                                   class="w-full bg-gray-300 text-gray-800 px-4 py-2 rounded-md hover:bg-gray-400 cursor-pointer">
                        </div>
                        <div class="mt-4 text-center">
                            <a class="text-blue-500 hover:underline hover:text-blue-700"
                               th:href="@{/admin/member/create_account_form}">회원가입</a>
                            <span class="mx-2 text-gray-600">|</span>
                            <a class="text-blue-500 hover:underline hover:text-blue-700"
                               th:href="@{/admin/member/member_login_form.html}">로그인</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
    </div>
</div>
</body>
</html>
