<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/admin/js/ajax_event.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/member_login_form.js}" type="text/javascript"></script>
</head>
<body>
<section>
    <div id="member_login_form" class="flex flex-col items-center justify-center w-11/12 h-40 p-2 mt-6 border-2 rounded-sm">
        <div>
            MEMBER LOGIN FORM
        </div>
        <div>
            <form th:action="@{/admin/member/member_login_confirm}" name="member_login_form" method="post">
                <input type="text" name="a_m_id" placeholder="INPUT ID"><br>
                <input type="password" name="a_m_pw" placeholder="INPUT PW"><br>
                <input type="button" value="member login" onclick="memberLoginForm();">
                <input type="reset" value="reset">
            </form>
        </div>

        <div>
            <a th:href="@{/admin/member/create_account_form}">create account</a>
        </div>
    </div>
</section>
</body>
</html>