<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.btc.snow.user.attendance.UserAttendanceMapper">



    <insert id="qrCheckConfrim" parameterType="Integer">

        insert into tbl_atd_m(u_m_no,atd_m_reg_date,atd_m_mod_date)
        values (#{u_m_no},now(),now())

    </insert>





</mapper>