<script th:fragment="js" th:inline="javascript" type="text/javascript">


    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 이벤트 핸들러 초기화(등록)
        init_events();

    });


    function init_events() {
        console.log("init_events READY!!");

        //참여 버튼 클릭
        $(document).on('click', '#study_detail input[value="참여"]', function (e) {
            console.log('study detail BUTTON CLICKED HANDLER!!');

            let studyNo = $('#study_detail input[name="no"]').val();
            console.log('studyNo-------------------' + studyNo);

            ajax_studyAttend(studyNo);

        })
    }

    function ajax_studyAttend(studyNo) {
        console.log('ajax_studyAttend() CALLED!')

        let formData = new FormData();
        formData.append('studyNo', studyNo);

        $.ajax({
            url: '/user/study/study_attend',
            type: 'POST',
            processData: false,
            contentType: false,

            success: function (data) {
                console.log("study attend success!!!")
                console.log(data)

            },
            error: function (data) {
                console.log("book search error!!!");
            }
        });
    }

</script>