<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body class="flex flex-col items-center justify-center w-5/6 mx-auto">

<header th:replace="~{/include/header_nav_footer.html::header}"></header>

<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>

<section id="meeting_list" class="flex flex-col items-center justify-center w-full mx-auto mt-7">
    <div class="w-5/6">
        <div class="font-semibold mb-5 ">
            <a th:href="@{/user/meeting/meeting_form}" class="border border-gray-200 rounded-md p-2 bg-gray-200">모임
                개설</a>
        </div>

        <!--        식사 리스트-->
        <div class="flex items-center mb-8">
            <img th:src="@{/img/meal.png}" class="w-8 h-8">
            <span class="ml-2 text-2xl font-semibold">식사</span>
        </div>
        <div th:each="userMealDto : ${userMealDtos}" class="flex flex-row border-b-4 grid-cols-6">

            <div class="img w-24 h-24">
                <img th:src="@{'/UploadImg/' + ${userMealDto.img}}">
            </div>
            <div class="flex flex-col mr-4">
                <div class="title gap-3">
                    <a th:href="@{/user/meal/meal_detail(no=${userMealDto.no})}" th:text="${userMealDto.title}"></a>
                </div>
                <div th:text="${userMealDto.body}" class="body">
                </div>
            </div>
            <div th:text="${userMealDto.total}" class="count">

            </div>
            <div th:text="${userMealDto.hit}" class="hit">

            </div>

        </div>

        <div class="mb-10">
            <a th:href="@{/user/meal/meal_list}">더보기</a>
        </div>

        <!--        스터디 리스트-->
        <div class="flex items-center mb-8">
            <img th:src="@{/img/study.png}" class="w-8 h-8">
            <span class="ml-2 text-2xl font-semibold">스터디</span>
        </div>
        <div th:each="userStudyDto : ${userStudyDtos}" class="flex flex-row border-b-4 grid-cols-6">

            <div class="img w-24 h-24">
                <img th:src="@{'/UploadImg/' + ${userStudyDto.img}}">
            </div>
            <div class="flex flex-col mr-4">
                <div class="title gap-3">
                    <a th:href="@{/user/study/study_detail(no=${userStudyDto.no})}" th:text="${userStudyDto.title}"></a>
                </div>
                <div th:text="${userStudyDto.body}" class="body">
                </div>
            </div>
            <div th:text="${userStudyDto.total}" class="count gap-1 mr-4">

            </div>
            <div th:text="${userStudyDto.hit}" class="hit gap-1 mr-4">

            </div>

        </div>

        <div class="mb-10">
            <a th:href="@{/user/study/study_list}">더보기</a>
        </div>
    </div>


</section>

<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>