<script th:fragment="js" th:inline="javascript" type="text/javascript">


    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 이벤트 핸들러 초기화(등록)
        init_events();


    });

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });

    function init_events() {
        console.log("init_events READY!!");

        $(document).on('change', 'select.meeting_select', function (e) {
            console.log('meeting_select CHANGE HANDLER!!');

            let meetingSelected = $('#meeting_section select.meeting_select').val();


            if (meetingSelected == "study") {
                console.log("go ajax_study_form");

                $("#meeting_section form.meeting_form").children().remove();


                let appendTag = "";

                appendTag += "<input type='text' name='title' placeholder='제목을 입력하세요.'><br>";
                appendTag += "<span>기간: </span>";
                appendTag += "<input type='text' id='start_date'> <span>~</span>";
                appendTag += "<input type='text' id='end_date'> <br>";
                appendTag += "<span>정원: </span>";
                appendTag += "<input type='number' min='1' name='total'><br>";
                appendTag += "<textarea name='body' placeholder='내용을 입력하세요.' cols='50' rows='10'></textarea><br>";
                appendTag += "<input type='file' name='img' placeholder='이미지를 선택하세요.'>";
                appendTag += "<input type='button' name='modal' value='도서 검색 모달 해야함!!!!!!'><br>";
                appendTag += "<input type='submit' value='등록'>";

                $("#meeting_section form.meeting_form").append(appendTag);

                $(function () {
                    $("#start_date, #end_date").datepicker({
                        dateFormat: 'yy.mm.dd'
                    });
                });

            } else {
                console.log("go ajax_meal_form");

                $("#meeting_section form.meeting_form").children().remove();

                let appendTag = "";

                appendTag += "<input type='text' name='title' placeholder='제목을 입력하세요.'><br>";
                appendTag += "<textarea name='body' placeholder='내용을 입력하세요.' cols='50' rows='10'></textarea><br>";
                appendTag += "<input type='file' name='img' placeholder='이미지를 선택하세요.'><br>";
                appendTag += "<input class= 'meal' type='submit' value='등록'>";

                $("#meeting_section form.meeting_form").append(appendTag);

                // ajax_writeMeal()

            }


        });

    }


    // STUDY FORM 등록 버튼 클릭
    $(document).on('click', '#meeting_section input[value="등록"].study', function (e) {
        console.log('submit BUTTON CLICK HANDLER!!');

        let title = $('#meeting_section .meeting_form input[name="title"]').val();
        let body = $('#meeting_section .meeting_form input[name="body"]').val();
        let loginedUserDto = [[${session.loginedUserDto}]];

        if (title == '') {
            alert("INPUT FORM TITLE");
            $('#meeting_section .meeting_form input[name="title"]').focus();

        } else if (body == '') {
            alert("INPUT FORM BODY");
            $('#meeting_section .meeting_form input[name="body"]').focus();

        } else {
            // alert("성공적으로 등록 되었습니다.");

            ajax_writeStudy(title, body, loginedUserDto.id);

        }

    });

    // MEAL FORM 등록 버튼 클릭
    $(document).on('click', '#meeting_section input[value="등록"].meal', function (e) {
        console.log('submit MEAL BUTTON CLICK HANDLER!!');

        let title = $('#meeting_section .meeting_form input[name="title"]').val();
        let body = $('#meeting_section .meeting_form input[name="body"]').val();
        let file = $('#meeting_section .meeting_form input[name="file"]').val();

        let loginedUserDto = [[${session.loginedUserDto}]];

        console.log('title ' + title);

        if (title == '') {
            alert("INPUT FORM TITLE");
            $('#meeting_section .meeting_form input[name="title"]').focus();

        } else if (body == '') {
            alert("INPUT FORM BODY");
            $('#meeting_section .meeting_form input[name="body"]').focus();

        } else if (file == '') {
            alert("INPUT FORM FILE");
            $('#meeting_section .meeting_form input[name="file"]').focus();

        } else {
            // alert("sfgahg;org;oreo;gro");

            let inputFile = $('#meeting_section .meeting_form input[name="file"]');
            let files = inputFile[0].files;

            ajax_writeMeal(title, body, files[0], loginedUserDto.id);
        }

    });

    //도서 검색
    $(document).on('keyup', '#create_curriculum_wrap input[name="book_no"]', function (e) {
        console.log('BOOK NO KEYUP HANDLER!!');

        let bookKeyword = $(this).val();

        // if (bookKeyword == '') {
        //     alert("INPUT BOOK NAME");
        //     $('#search input[name="bookKeyword"]').focus();
        //
        // } else {
        // }
        ajax_getSearchBook(bookKeyword);
    });


    // AJAX START
    function ajax_writeStudy(title, body) {

        $.ajax({
            url: '/user/study/write_study',
            method: 'POST',
            processData: false,
            contentType: false,
            success: function () {
                console.log('AJAX SUCCESS - ajax_writeStudy()');


            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_writeStudy()');

                // alert('일정 등록에 문제가 발생 했습니다.');

            },
            complete: function (data) {
                console.log('AJAX COMPLETE - ajax_writeStudy()');


            }
        });
    }

    function ajax_writeMeal(title, body, files, loginedUserDto) {

        $.ajax({
            url: '/user/meeting/write_meal',
            method: 'GET',
            processData: false,
            contentType: false,
            success: function () {
                console.log('AJAX SUCCESS - ajax_writeMeal()');


            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_writeMeal()');

                alert('일정 등록에 문제가 발생 했습니다.');

            },
            complete: function (data) {
                console.log('AJAX COMPLETE - ajax_writeMeal()');

                // hideWritePlansView();

            }
        });
    }

    function ajax_getSearchBook(bookKeyword) {
        console.log('ajax_getSearchBook() CALLED!')

        // let formData = new FormData();
        // formData.append('item', bookKeyword);
        let appendTag = '';

        $.ajax({
            url: '/book/search_book?title=' + bookKeyword,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                console.log("book search success!!!")
                console.log(data)

                let userBookDtos = data.userBookDtos;

                for (let i = 0; i < userBookDtos.length; i++) {


                    appendTag += "<li>";
                    appendTag += "<a href='#none' data-no='" + userBookDtos[i].no + "'>" + userBookDtos[i].title + "</a>";
                    appendTag += "</li>";
                }

                $("#book_list ul").append(appendTag);

                // $('#book_list ul').empty();

            },
            error: function (data) {
                console.log("book search error!!!");
            }
        })
    }


</script>