<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.tailwindcss.com"></script>

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/timepicker.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/timepicker.css}">
    <script th:replace="~{/user/meeting/meeting_form_js.html::js}" type="text/javascript"></script>

    <script>


        function modallToggle() {
            console.log('modallToggle');
            const modal = document.querySelector('#defaultModal');

            modal.classList.toggle('hidden');

            const bookKeyword = document.querySelector(".bookName");
            bookKeyword.value = '';

            const bookList = document.querySelector("#book_list");
            while (bookList.firstChild) {
                bookList.removeChild(bookList.firstChild);
            }

        }

    </script>

</head>
<body>

<header th:replace="~{/include/header_nav_footer.html::header}"></header>

<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
<script>

</script>


<section id="meeting_section">

    <div>
        <select class="meeting_select">
            <option value="study" selected>스터디</option>
            <option value="meal">식사</option>
        </select>
        <div class="meeting_form">
            <form th:action="@{/user/meal/write_meal}" method="POST" enctype="multipart/form-data" class="mealform">

            </form>
            <form th:action="@{/user/study/write_study}" method="POST" enctype="multipart/form-data" class="studyform">
                <input type="text" name="title" placeholder="제목을 입력하세요."><br>
                <span>기간: </span>
                <input type="text" id="start_date" name="start_date" value="시작일">
                <input type="text" id="end_date" name="end_date" value="종료일"><br>
                <span>정원: </span>
                <input type="number" min="1" max="50" name="total"><br>
                <textarea name="body" placeholder="내용을 입력하세요." cols="50" rows="10"></textarea><br>
                <input type="file" name="file">
                <input
                        data-modal-target="defaultModal"
                        data-modal-toggle="defaultModal"
                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button"
                        value="도서 검색"
                        onclick="modallToggle()"
                >
                <input type="hidden" name="book_no">
                <input type="button" value="등록" onclick="submitStudy();">
            </form>
        </div>
        <div id="defaultModal"
             class="fixed inset-0 z-50 hidden overflow-y-auto bg-black bg-opacity-50 flex justify-center items-center">
            <div class="relative w-full max-w-screen-md mx-auto">
                <!-- Modal content -->
                <div id="search" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <input type="text" class="bookName" name="bookKeyword" placeholder="도서 이름을 입력해주세요.">
                        <!--                        <input type="button" value="검색" onclick="ajax_getSearchBook()">-->
                        <button type="button"
                                class="inline-flex items-center justify-center w-8 h-8 ml-auto text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="defaultModal" onclick="modallToggle()">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div id="book_list" class="p-6 space-y-6 max-h-[calc(100vh-10rem)] overflow-y-auto flex flex-col">


                    </div>

                    <!-- Modal footer -->
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="defaultModal" type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            I accept
                        </button>
                        <button data-modal-hide="defaultModal" type="button" onclick="modallToggle()"
                                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                            Decline
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>