<script th:fragment="js" th:inline="javascript" type="text/javascript">


    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 이벤트 핸들러 초기화(등록)
        init_events();


    });

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });

    //STUDY FORM 등록 버튼 클릭
    function submitStudy() {
        let form = document.querySelector(".studyform");

        form.submit();

    }

    function init_events() {
        console.log("init_events READY!!");

        $(document).on('change', 'select.meeting_select', function (e) {
            console.log('meeting_select CHANGE HANDLER!!');

            let meetingSelected = $('#meeting_section .meeting_select').val();


            if (meetingSelected == "study") {
                console.log("selected study_form");

                $(".studyform").children().remove();

                let appendTag = "";

                appendTag += "<input type='text' name='title' placeholder='제목을 입력하세요.'><br>";
                appendTag += "<span>기간: </span>";
                appendTag += "<input type='text' id='start_date' name='start_date' value='시작일'>";
                appendTag += "<input type='text' id='end_date' name='end_date' value='종료일'> <br>";
                appendTag += "<span>정원: </span>";
                appendTag += "<input type='number' min='1' max='50' name='total'><br>";
                appendTag += "<textarea name='body' placeholder='내용을 입력하세요.' cols='50' rows='10'></textarea><br>";
                appendTag += "<input type='file' name='img'>";
                appendTag += "<input data-modal-target=\"defaultModal\" data-modal-toggle=\"defaultModal\" class=\"block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800\" type=\"button\" value=\"도서 검색\" onclick=\"modallToggle()\"><br>"
                appendTag += "<input type='button' value='등록' onclick='submitStudy();'>";

                $(".studyform").append(appendTag);

                $(function () {
                    $("#start_date, #end_date").datepicker({
                        dateFormat: 'yy.mm.dd'
                    });
                });


            } else {
                console.log("selected meal_form");

                $("#meeting_section .studyform").children().remove();

                let appendTag = "";

                appendTag += "<input type='text' name='title' placeholder='제목을 입력하세요.'><br>";
                appendTag += "<textarea name='body' placeholder='내용을 입력하세요.' cols='50' rows='10'></textarea><br>";
                appendTag += "<input type='file' name='img' placeholder='이미지를 선택하세요.'><br>";
                appendTag += "<input class= 'meal' type='submit' value='등록'>";


                $("#meeting_section .studyform").append(appendTag);

            }


        });


        // STUDY FORM 등록 버튼 클릭
        //     $(document).on('click', '#meeting_section input[value="등록"]', function (e) {
        //         console.log('submit BUTTON CLICK HANDLER!!');
        //
        //         let title = $('.meeting_form input[name="title"]').val();
        //         let start_date = $('.meeting_form input[name="start_date"]').val();
        //         let end_date = $('.meeting_form input[name="end_date"]').val();
        //         let total = $('.meeting_form input[name="total"]').val();
        //         let body = $('.meeting_form textarea[name="body"]').val();
        //         let file = $('.meeting_form textarea[name="img"]').val();
        //
        //         // let loginedUserDto = [[${session.loginedUserDto}]];
        //
        //         if (title == '') {
        //             alert("INPUT STUDY FORM TITLE");
        //             $('.meeting_form input[name="title"]').focus();
        //
        //         } else if (body == '') {
        //             alert("INPUT STUDY FORM BODY");
        //             $('.meeting_form textarea[name="body"]').focus();
        //
        //         } else {
        //
        //             form.submit();
        //             // let inputFile = $('.meeting_form input[name="img"]');
        //             // console.log('================= ', inputFile);
        //             // let files = inputFile[0].files;
        //             // console.log(files[0]);
        //             // ajax_writeStudy(title, start_date, end_date, total, body, files[0]
        //             // );
        //
        //         }
        //
        //     });
        // }


        // MEAL FORM 등록 버튼 클릭
        $(document).on('click', '#meeting_section input[value="등록"].meal', function (e) {
            console.log('submit MEAL BUTTON CLICK HANDLER!!');

            let title = $('#meeting_section .meeting_form input[name="title"]').val();
            let body = $('#meeting_section .meeting_form input[name="body"]').val();
            let file = $('#meeting_section .meeting_form input[name="file"]').val();

            // let loginedUserDto = [[${session.loginedUserDto}]];

            console.log('title ' + title);

            if (title == '') {
                alert("INPUT MEAL FORM TITLE");
                $('#meeting_section .meeting_form input[name="title"]').focus();

            } else if (body == '') {
                alert("INPUT FORM BODY");
                $('#meeting_section .meeting_form input[name="body"]').focus();

            } else if (file == '') {
                alert("INPUT FORM FILE");
                $('#meeting_section .meeting_form input[name="file"]').focus();

            } else {

                let inputFile = $('#meeting_section .meeting_form input[name="file"]');
                let files = inputFile[0].files;

                // ajax_writeMeal(title, body, files[0], loginedUserDto.id);
            }

        });

        //도서 검색
        $(document).on('keyup', '#search input[name="bookKeyword"]', function (e) {
            console.log('BOOK SEARCH KEYUP HANDLER!!');

            let bookKeyword = $(this).val();

            ajax_getSearchBook(bookKeyword);
        });

        //도서 선택
        $(document).on('click', '#book_list a', function (e) {
            console.log('book list CLICKED HANDLER!!');

            let bookNo = $(this).data('no');
            console.log('bookno====' + bookNo);

            document.querySelector("form.studyform").book_no.value = bookNo;

            modallToggle();

        });

        // AJAX START
        function ajax_writeStudy(title, start_date, end_date, total, body, file) {
            console.log('ajax_writeStudy() CALLED!');

            let formData = new FormData();
            formData.append("title", title);
            formData.append("start_date", start_date);
            formData.append("end_date", end_date);
            formData.append("total", total);
            formData.append("body", body);
            formData.append("img", file);


            $.ajax({
                url: '/user/study/write_study',
                method: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    console.log('AJAX SUCCESS - ajax_writeStudy()');

                    if (data == '' || data == null || data.result <= 0)
                        alert('스터디 등록에 문제가 발생 했습니다.');
                    else
                        alert('스터디가 정상 등록 되었습니다.');

                },
                error: function (data) {
                    console.log('AJAX ERROR - ajax_writeStudy()');

                    alert('스터디 등록에 문제가 발생 했습니다.');

                },
                complete: function (data) {
                    console.log('AJAX COMPLETE - ajax_writeStudy()');


                }
            });
        }

        function ajax_writeMeal(title, body, files) {

            $.ajax({
                url: '/user/meeting/write_meal',
                method: 'GET',
                processData: false,
                contentType: false,
                success: function () {
                    console.log('AJAX SUCCESS - ajax_writeMeal()');


                },
                error: function (data) {
                    console.log('AJAX ERROR - ajax_writeMeal()');

                    // alert('일정 등록에 문제가 발생 했습니다.');

                },
                complete: function (data) {
                    console.log('AJAX COMPLETE - ajax_writeMeal()');

                    // hideWritePlansView();

                }
            });
        }

        function ajax_getSearchBook(bookKeyword) {
            console.log('ajax_getSearchBook() CALLED!')

            // let formData = new FormData();
            // formData.append('item', bookKeyword);
            let appendTag = '';

            $.ajax({
                url: '/book/search_book?title=' + bookKeyword,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log("book search success!!!")
                    console.log(data)

                    let userBookDtos = data.userBookDtos;

                    $('#book_list').empty();

                    for (let i = 0; i < userBookDtos.length; i++) {
                        appendTag += "<div class='flex flex-row w-full border-b-2 border-gray-100'>"
                        appendTag += "<div class='w-1/4 mb-3'>";
                        appendTag += "<a href='#none' data-no='" + userBookDtos[i].no + "'>";
                        appendTag += "<img src='";
                        appendTag += userBookDtos[i].cover;
                        appendTag += "'/>";
                        appendTag += "</div>"
                        appendTag += "<div class='w-3/4 flex flex-col justify-center items-center'>";
                        appendTag += "<div class=' w-full font-bold text-lg mb-2'>";
                        appendTag += userBookDtos[i].title;
                        appendTag += "</div>";
                        appendTag += "<div class=' w-full font-semibold text-sm text-gray-300 '>";
                        appendTag += userBookDtos[i].author;
                        appendTag += "</div>";
                        appendTag += "<div class=' w-full font-semibold text-md text-gray-300 '>";
                        appendTag += userBookDtos[i].publisher;
                        appendTag += "</div>";
                        appendTag += "</a>";
                        appendTag += "</div>"
                        appendTag += "</div>";
                    }

                    $("#book_list").append(appendTag);

                },
                error: function (data) {
                    console.log("book search error!!!");
                }
            })
        }

        
    }


</script>